<!doctype html>
<html lang="en">

<head>
    <title>Hello, world!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <script src="assets/jquery-3.3.1.slim.min.js"></script>
    <script src="assets/popper.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/font-awesome.min.css">
    <style type="text/css">
    a {
        color: black;
    }

    .nav-link {
        padding: 0.5rem 0.5rem;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 10px;
        text-indent: 0;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        background: #ccc;
        box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
        list-style-type: square;
    }

    .carousel-indicators .active {
        width: 10px;
        height: 10px;
        margin: 10px;
        background: #666;
    }

    #anh2 {
        width: 70%;
        padding-top: 6%
    }

    #refix3 {
        padding-top: 8px;
        text-align: center;
    }

    #refix4 {
        padding-left: 4%;
    }

    @media screen and (max-width:2000px) and (min-width: 1450px) {

        #anh2 {
            width: 70%;
            padding-top: 6%
        }
    }

    @media screen and (max-width:1440px) and (min-width: 1080px) {

        #anh2 {
            width: 90%;
            padding-top: 11%
        }
    }


    @media screen and (max-width:1024px) and (min-width: 720px) {

        #anh2 {
            width: 105%;
            padding-top: 19%
        }
    }

    @media screen and (max-width: 640px) {

        #anh2 {
            width: 65%;
        }
        #refix {
            padding-left: 2%;
        }
        #refix2 {
            padding-right: 2%;
        }
        #refix3 {
            padding-top: 0px;
            padding-left: 6%;
            text-align: left;
        }
        #refix4 {
            padding-left: 0%;
        }
    }
    </style>
</head>

<body>
    <div class="container-fluid" style="background-color:#0f7675; color: white;padding-bottom: 0.5%; ">
        <div class="row">
            <div class="col-sm-3">
                <nav class="navbar navbar">
                    <a class="navbar-brand" href="#">
   						 <img src="assets/logoh.png" alt="Logo" class="img-responsive" style="width: 55%" >
 					</a>
                </nav>
            </div>
            <div class="col-sm-6"></div>
            <div class="col-sm-3">
                <nav class="navbar navbar-expand-md  navbar-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar" style="padding-left: 7%">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#" style="color: white">Become A Coach</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" style="color: white">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" style="color: white">Sign Up</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <h2 align="center">About us</h2>
        <p style="text-align: center;"><b>The go to booking platform connecting parents and kid<br>
   With trusted sports coaches in Singaphore</b> </p>
    </div>
    <div class="container" style="padding: 2.5% 2.5%;">
        <p style="text-align: center;">I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you. click “Edit Text” or double click me to add your own content and make changes to the font.</p>
    </div>
    <div class="container" style="padding-bottom:  2.5%">
        <div class="row">
            <div class="col-sm-3 border  border-left-0  border-top-0 border-bottom-0" style="text-align: center;">
                <i class="fa fa-address-card-o" style="font-size:80px;padding-bottom: 5px;color:#0f7675"></i>
                <h5>Verified Review From<br> Other Patents</h5>
            </div>
            <div class="col-sm-3 border  border-left-0  border-top-0 border-bottom-0" style="text-align: center;">
                <i class="fa fa-get-pocket" style="font-size:80px;padding-bottom: 5px;color:#0f7675"></i>
                <h5>Access to<br> Trusted Coaches</h5>
            </div>
            <div class="col-sm-3 border  border-left-0  border-top-0 border-bottom-0" style="text-align: center;">
                <i class="fa fa-smile-o" style="font-size:80px;padding-bottom: 5px;color:#0f7675"></i>
                <h5>Earn Rewards<br>As you use</h5>
            </div>
            <div class="col-sm-3 " style="text-align: center;">
                <i class="fa fa-gift" style="font-size:80px;padding-bottom: 5px;color:#0f7675"></i>
                <h5>Verified Review From<br> Other Patents</h5>
            </div>
        </div>
    </div>
    <hr>
    <div class="container" style="padding: 2.5% 2.5% ">
        <h4 align="center">Develop your kid's talents today</h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 style="padding-left: 9%;">Find your idel coach</h2>
                <div class="row">
                    <div class="col-sm-1">
                        <h1 style="color:#0f7573">1</h1></div>
                    <div class="col-sm-8" style="padding-left: 3%">
                        <p>I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <h2 style="padding-left: 9%;">Request Booking</h2>
                <div class="row">
                    <div class="col-sm-1">
                        <h1 style="color:#0f7573">2</h1></div>
                    <div class="col-sm-8" style="padding-left: 3%">
                        <p>I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2 style="padding-left: 9%;">Embark on the lessons</h2>
                <div class="row">
                    <div class="col-sm-1">
                        <h1 style="color:#0f7573">3</h1></div>
                    <div class="col-sm-8" style="padding-left: 3%">
                        <p>I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <h2 style="padding-left: 9%;">Leave review</h2>
                <div class="row">
                    <div class="col-sm-1">
                        <h1 style="color:#0f7573">4</h1></div>
                    <div class="col-sm-8" style="padding-left: 3%">
                        <p>I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color:#f9f9f9 ">
        <h2 align="center" style="color:#2d7e7d;padding:2.5%;font-weight: bold;">What parents says</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="padding-left: 2%;padding-right: 2%; padding-bottom:6%">
            <!-- Indicators -->
            <ol class="carousel-indicators" style="padding-bottom: 1% ">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="assets/la.jpg" alt="Los Angeles" class="img-thumbnail" style="max-width: 100% ;height: 103px">
                            </div>
                            <div class="col-sm-8" style="background-color: white" ;>
                                <h6>Juli Ling &Yan Sheng</h6>
                                <p>I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="assets/chicago.jpg" alt="Los Angeles" class="img-thumbnail" style="max-width: 100%;height: 103px">
                            </div>
                            <div class="col-sm-8" style="background-color: white">
                                <h6>Juli Ling &Yan Sheng</h6>
                                <p>I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="assets/ny.jpg" alt="Los Angeles" class="img-thumbnail" style="max-width: 100%;height: 103px">
                            </div>
                            <div class="col-sm-8" style="background-color: white" ;>
                                <h6>Juli Ling &Yan Sheng</h6>
                                <p>I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="assets/la.jpg" alt="Los Angeles" class="img-thumbnail" style="max-width: 100%;height: 103px">
                            </div>
                            <div class="col-sm-8" style="background-color: white">
                                <h6>Juli Ling &Yan Sheng</h6>
                                <p>I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="assets/chicago.jpg" alt="Los Angeles" class="img-thumbnail" style="max-width: 100%;height: 103px">
                            </div>
                            <div class="col-sm-8" style="background-color: white">
                                <h6>Juli Ling &Yan Sheng</h6>
                                <p>I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="assets/ny.jpg" alt="Los Angeles" class="img-thumbnail" style="max-width: 100%;height: 103px">
                            </div>
                            <div class="col-sm-8" style="background-color: white">
                                <h6>Juli Ling &Yan Sheng</h6>
                                <p>I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="assets/la.jpg" alt="Los Angeles" class="img-thumbnail" style="max-width: 100%;height: 103px">
                            </div>
                            <div class="col-sm-8" style="background-color: white;">
                                <h6>Juli Ling &Yan Sheng</h6>
                                <p>I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="assets/chicago.jpg" alt="Los Angeles" class="img-thumbnail" style="max-width: 100%;height: 103px">
                            </div>
                            <div class="col-sm-8" style="background-color: white" ;>
                                <h6>Juli Ling &Yan Sheng</h6>
                                <p>I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="assets/ny.jpg" alt="Los Angeles" class="img-thumbnail" style="max-width: 100%;height: 103px">
                            </div>
                            <div class="col-sm-8" style="background-color: white" ;>
                                <h6>Juli Ling &Yan Sheng</h6>
                                <p>I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
   				 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
   				 <span class="sr-only">Previous</span>
  </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
   				 <span class="carousel-control-next-icon" aria-hidden="true"></span>
   				 <span class="sr-only">Next</span>
  </a> -->
        </div>
    </div>
    <div class="container-fluid" style="padding-left: 2%;">
        <div class="row" id="refix">
            <div class="col-sm-2" id="refix2">
                <img src="assets/logox.png" alt="Logo" class="img-responsive" id="anh2">
                <p>© 2023 by Under Construction. </p>
            </div>
            <div class="col-sm-3" style="padding-top: 1%">
                <h2 style="color:#098778">Sports</h2>
                <p>We have wide variety of sports catgories </p>
                <ul class="nav">
                    <li class="nav-item border  border-left-0  border-top-0 border-bottom-0">
                        <a class="nav-link" href="#" style="color:#0f7675">Basket ball</a>
                    </li>
                    <li class="nav-item border  border-left-0  border-top-0 border-bottom-0">
                        <a class="nav-link" href="#" style="color:#0f7675">Fotball</a>
                    </li>
                    <li class="nav-item border  border-left-0  border-top-0 border-bottom-0">
                        <a class="nav-link" href="#" style="color:#0f7675">Badminton</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:#0f7675">Swimming</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2" style="padding-top: 1%">
                <h2 style="color:#098778">Coach</h2>
                <p>Want to be a coach? </p>
                <p style="padding-top: 2%;color:#0f7675">Learn More</p>
            </div>
            <div class="col-sm-2" style="padding-top: 1%">
                <h2 style="color:#098778">About</h2>
                <p>Know about us here </p>
                <p style="padding-top: 2%;color:#0f7675">About us </p>
            </div>
            <div class="col-sm-2" style="padding-top: 1%">
                <h2 style="color:#098778">Contact</h2>
                <p>Get in touch with us</p>
                <p style="padding-top: 2%;color:#0f7675">Contact us </p>
            </div>
            <div class="col-sm-1" style="padding-top: 1%"></div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #f1f1f1;padding-bottom: 8px;padding-top: 8px;">
        <div class="row">
            <div class="col-sm-4">
                <ul class="nav" id="refix4">
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Terms of You</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6"></div>
            <div class="col-sm-2" id="refix3">
                <i class="fa fa-instagram" style="font-size:24px;color: #b22386;"></i>
                <i class="fa fa-facebook-official" style="font-size:24px;color: #475a91;"></i>
                <i class="fa fa-twitter" style="font-size:24px;color: #78aae8;"></i>
            </div>
        </div>
    </div>
</body>

</html>